<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-title>
            TO DO
        </ion-title>
    </ion-toolbar>
</ion-header>



<ion-content color="dark">



    <app-lists [ended]="false"></app-lists>




    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="start">
            <ion-fab-button (click)="addList()">
                <ion-icon name="list"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addShareList()">
                <ion-icon name="share-social"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>

</ion-content>